#{extends 'main.html' /}
#{set pageTitle: 'Login' /}

#{form @Security.authenticate(), id:'login'}
	<label for="username">Username</label>
	<input type="text" name="username" id="username" />
	#{ifErrors}
		#{myErrors errors:errors, searchKey:'unknownUser' /}
	#{/ifErrors}
	
	</br>
	<label for="password">Password</label>
	<input type="password" name="password" id="password"/>	
	
	#{ifErrors}
		#{myErrors errors:errors, searchKey:'wrongPassword' /}
	#{/ifErrors}
	
	</br>
	<label for="remember">remember</label>
	<input type="checkbox" name="remember" id="remember" />
	<input type="submit" id="signin" name="login" />
#{/form}


