#{extends 'main.html' /}
#{form @Security.authenticate(), id:'login'}
	<input type="text" name="username" id="username" value="${flash.name}" />
	  <span class="error">#{error 'name' /}</span>
	<input type="password" name="password" id="password" value="${flash.password}" />
	<input type="checkbox" name="remember" id="remember" value="${flash.remeber}" />
	<input type="submit" id="signin" value="&{'secure.signin'}" />
#{/form}

#{ifErrors}
   <h1>Oops…</h1>
 
   	#{errors}
		#{if error.getKey().equals("username") }
      	 <li>A: ${error.getKey()}</li>
       #{/if}
       #{if error.getKey().equals("password") }
      	 <li>B: ${error.getKey()}</li>
       #{/if}
       #{if error.getKey().equals("userTo") }
      	 <li>C: ${error.getKey()}</li>
       #{/if}
        <li>N: ${error.getKey()}</li>
       ERROR:
      da:
 	#{error 'unknownUser' /}
       ----
   #{/errors}
#{/ifErrors}

