#{extends 'main.html' /}
#{set pageTitle: 'Register' /}

#{form @Security.doRegister(), id:'register'}
	<label for="username">Username</label>
	<input type="text" name="username" id="username" />
	#{ifErrors}
		#{myErrors errors:errors, searchKey:'usernameNotAllowed' /}
		#{myErrors errors:errors, searchKey:'usernameAlreadyExist' /}
	#{/ifErrors}
	
	</br>
	<label for="password">Password</label>
	<input type="password" name="password" id="password"/>	
	
	#{ifErrors}
		#{myErrors errors:errors, searchKey:'notMatchPassword' /}
	#{/ifErrors}
	
	</br>
	<label for="confirmPassword">Confirm your password</label>
	<input type="password" name="confirmPassword" id="confirmPassword"/>	
	
	</br>
	<label for="remember">remember</label>
	<input type="checkbox" name="remember" id="remember" />
	<input type="submit" id="register" value="Register" name="register" />
#{/form}


