<table>
#{if currentUser}
	<tr>
		<td>
			
		</td>
		<td>
			<a href="@{WallSecurity.logout()}">Logout</a>
		</td>
	</tr>
	<tr>
		<td>
			#{include 'WallUserController/smallProfile.html' /}
		</td>
		<td>
		
		</td>
	</tr>
#{/if}
#{else}
	<tr>
		<td>
				
	</td>
		<td>
			#{ifnot pageTitle.equals("Login")}
				<a href=@{WallSecurity.login()}>Login</a>
			#{/ifnot}
			#{else}
				<activeLink>Login</activeLink>
			#{/else}
	
			#{ifnot pageTitle.equals("Register")}
				<a href=@{WallSecurity.register()}>Register</a>
			#{/ifnot}
			#{else}
				<activeLink>Register</activeLink>
			#{/else}
		</td>
	</tr>
	<tr>
		<td>
				
		</td>
		<td>
		
		</td>
	</tr>
#{/else}

</table>
