#{stylesheet 'main.css' /}

<nav id = "mainNavigation"> 	

	#{if currentUser}
		#{ifnot pageTitle.equals("eWall")}
			<a href = @{Application.index()}>MainWall</a>
		#{/ifnot}
		#{else}
			<activeLink>MainWall</activeLink>
		#{/else}
	
		#{ifnot pageTitle.equals("eWall - Home User")}
			<a href = @{UserController.profile()}>Profile</a>
		#{/ifnot}
		#{else}
			<activeLink>Profile</activeLink>
		#{/else}
		
		#{ifnot pageTitle.equals("eWall - Settings")}
			<a href = @{UserController.settings()}>Settings</a>
		#{/ifnot}
		#{else}
			<activeLink>Settings</activeLink>
		#{/else}
	#{/if}
	#{else}
		#{ifnot pageTitle.equals("eWall")}
			<a href = @{Application.index()}>Home</a>
		#{/ifnot}
		#{else}
			<activeLink>Home</activeLink>
		#{/else}
	#{/else}

</nav>

