<nav id = "mainNavigation"> 	

	#{if currentUser}
		#{ifnot pageTitle.equals("eWall")}
			<a href = @{WallApplication.index()}>MainWall</a>
		#{/ifnot}
		#{else}
			<activeLink>MainWall</activeLink>
		#{/else}
		
		#{ifnot pageTitle.equals("eWall - myWalls")}
			<a href = @{WallUserController.myWalls()}>myWalls</a>
		#{/ifnot}
		#{else}
			<activeLink>myWalls</activeLink>
		#{/else}
		
	
		#{ifnot pageTitle.equals("eWall - Home User")}
			<a href = @{WallUserController.profile()}>Profile</a>
		#{/ifnot}
		#{else}
			<activeLink>Profile</activeLink>
		#{/else}
		
		#{ifnot pageTitle.equals("eWall - Settings")}
			<a href = @{WallUserController.settings()}>Settings</a>
		#{/ifnot}
		#{else}
			<activeLink>Settings</activeLink>
		#{/else}
	#{/if}
	#{else}
		#{ifnot pageTitle.equals("eWall")}
			<a href = @{WallApplication.index()}>Home</a>
		#{/ifnot}
		#{else}
			<activeLink>Home</activeLink>
		#{/else}
	#{/else}

</nav>

