<img src=${twitterUser.getProfileImageURL()} alt="userPic">
USER: ${twitterUser.getName()} </br>
CreateAt: ${dateString}</br>
description:${twitterUser.getDescription()}</br>
favouritesCount:${twitterUser.getFavouritesCount()}</br>
followersCount:${twitterUser.getFollowersCount()}</br>
friendsCount:${twitterUser.getFriendsCount()}</br>
lang:${twitterUser.getLang()}</br>
listedCount:${twitterUser.getListedCount()}</br>
location:${twitterUser.getLocation()}</br>
name:${twitterUser.getName()}</br>
screenName:${twitterUser.getScreenName()}</br>
status:${twitterUser.getStatus()}</br>
statusesCount:${twitterUser.getStatusesCount()}</br>
url:		${twitterUser.getURL()}</br>
	
		
		
		
		
		
		
		
		
		
		
		


<a class="close-reveal-modal">&#215;</a>